{% extends 'base.html' %}

{% block content %}

{% if name %}
    <h1>Usuário adicionado</h1>

{% else %}
    <h1>Sign up</h1>
    <form method="post">
    </br>
      <p>
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
      </p>
    </br>
      {{ form.signup(class="btn btn-primary") }}

    </form>

    <br/><br/><br/>

{% endif %}

{% endblock %}
