{% extends 'base.html' %}

{% block content %}

{% if name %}
    <h1>User added</h1>
    </br>

    {% for our_user in our_users %}

    <p>{{our_user.id}} | {{our_user.name}} - {{our_user.email}} </p> 

    {% endfor %}
{% else %}
    <h1>Sign up</h1>
    <form method="post">
    </br>
      <p>
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
      </p>
    </br>
      {{ form.signup(class="btn btn-primary") }}

    </form>

    <br/><br/><br/>

{% endif %}

{% endblock %}
