{% extends 'base.html' %}

{% block content %}

{% if user %}
    <h1>Hello {{ user| capitalize  }}</h1>
    </br>
    <img src="{{ url_for('static', filename = 'images/image_user.jpg') }}" width="1300">
{% else %}
    <h1>Sign up</h1>
    <form method="post">
    </br>
      <p>
        {{ form.hidden_tag() }}

        {{ form.user.label(class="form-label") }}
        {{ form.user(class="form-control") }}
        <br/>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
      </p>
    </br>
      {{ form.signup(class="btn btn-primary") }}

    </form>

    <br/><br/><br/>

{% for user in users %}

    {{user.id}} | {{user.user}} - {{user.email}} </br>

{% endfor %}

{% endif %}

{% endblock %}
